/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u_w4BMUTPHjxsI9w2_FQft1dw.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u_w4BMUTPHjxsI9w2_Gwft.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u8w4BMUTPHjxsAUi-qJCY.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u8w4BMUTPHjxsAXC-q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u_w4BMUTPHjxsI5wq_FQft1dw.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u_w4BMUTPHjxsI5wq_Gwft.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh7USSwaPGR_p.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh7USSwiPGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh6UVSwaPGR_p.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ===================== */
/* General Formatting */
/* ===================== */
body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 95%;
    line-height: 1.7;
    color: #000000;
    padding: 30px;
    background-color: #f0f0f0;
}

main {
    margin-top: 3%;
    margin-left: 25%;
    margin-right: 20%;
}

table {
    width: 80%;
    border-collapse: collapse;
}
table td {
    padding: 0.5%;
    border-bottom: 1px solid #ddd;
    vertical-align: top;
  }

/* ===================== */
/* Colors and Emphasis */
/* ===================== */

.emphasis {
    font-weight: bold;
}

.red {
    color: #bd2929;
}

.green {
    color: #3c9e3e;
}

.blue {
    color: #2b66b3;
}


/* ===================== */
/* Navigation Bar */
/* ===================== */
.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-right:10%;
    z-index: 1;
    background-color: #ffffff;
    padding: 0.5% 0;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 0 rgb(177, 177, 177);
  }
  
  .navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navigation li {
    display: inline-block;
    text-align: center;
  }
  
  .navigation li a {
    font-size: 175%;
    font-weight: bold;
    color: #888888;
    text-decoration: none;
    display: block;
    text-align: center;
    padding-right: 7em;
  }
  
  .navigation li a:hover {
    color: #ff3333;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }

/* ===================== */
/* Profile Information */
/* ===================== */
.profile {
    font-size: 95%;
    position: fixed;
    top: 0;
    left: 7.5%;
    width: 15%;
    height: 85%;
    padding: 10px;
    margin-top: 5%;
    justify-content: center;
}

    .profile img {
        display: block;
        margin: 0 auto;
        width: 80%;
        margin-bottom: 20px;
    }
    
    .profile .profile-info li {
        list-style-type: none;
        font-size: 14px;
        font-size:80%;
        margin-bottom: 3px;
    }
    
    .profile a {
        color: #333;
    }
    
    .profile-picture {
        display: flex;
        border-radius: 50%;
        object-fit: cover;
      }

/* ===================== */
/* Newsfeed */
/* ===================== */
.news-feed {
    width: 100%;
    border-collapse: collapse;
  }
  
  .news-feed td {
    padding: 5px;
    border-bottom: 1px solid #ddd;
    vertical-align: top;
  }

  .event-date,
  .event-description {
    padding: 2px;
  }

  .event-date {
    padding-right: 8px;
  }
  
  .event-date {
    font-weight: bold;
    width: 50%;
    white-space: nowrap;
  }
  
  .event-description {
    width: 50%;
    border-radius: 5px;
  }
  
  .event-green {
    /* background-color: #a8e6a0; */
    color: #3c9e3e;
  }
  
  .event-blue {
    /* background-color: #a0c0e6; */
    color: #2b66b3;
  }
  
  .event-red {
    /* background-color: #e6a0a0; */
    color: #a82828;
  }

/* ===================== */
/* Footer */
/* ===================== */
.footer {
    width: 100%;
    bottom:0;
    position: relative;
    margin-top: 5%;
}

/* ===================== */
/* Research */
/* ===================== */
.research-title {
    font-size: 120%;
    font-weight: bold;
}
    .research-contents {
        margin-left:3%;
        font-size: 100%;
    }


/* ===================== */
/* CV Embedding */
/* ===================== */
.cv {
    position: absolute;
    width: 60%;
    height: 90%;
    margin-top: 30px;
  }
    .cv embed {
      width: 100%;
      height: 100%;
    }

/* ===================== */
/* Tags */
/* ===================== */
.tag {
    display: inline-block;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 4px;
    margin-right: 8px;
    margin-bottom: 8px;
  }

/* ===================== */
/* Collapsible elements */
/* ===================== */
.collapse-title {
    cursor: pointer;
  }

  .collapse-header {
    background-color: #f1f1f1;
    color: #333;
    padding: 8px 16px;
    border: none;
    text-align: left;
    outline: none;
    width: 100%;
    transition: background-color 0.3s;
    border-radius: 5px;
  }
  
  .collapse-header:hover {
    background-color: #ddd;
  }